.button {
    background-color: rgb(6, 0, 0);
    border: none;
    color: rgb(168, 45, 45);
    padding: 40px 40px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 8px;
    border: 3px solid #FF0000;
}

.strtbtn{
    background-color: orange;
    padding: 30px 30px;
    text-align: center;
    width: fit-content;
    align-self: center;
    border-radius: 50%;
    font-size: large;
}
.strtbtn:hover{
    background-color: palegoldenrod;
}
.button:hover {
    background-color: #fe0202 !important;
    color: white !important;
    cursor: pointer !important;
}
h1{ 
    font-family: "fantasy",copperplate;
    color: rgb(3, 32, 119);
    border: 1in;
    font-size: 0.6in;

  }
p{  text-align: center;
    font-size: 0.4in;
    /*position: absolute;left:600px ;top: 200px;;*/
}

body{
    background-color: rgb(10, 227, 115);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
